<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Update</title>
  </head>
  <body>
    <h1>게시글 조회: <%= data.id%> 번 - <%= data.title %></h1>
    <h2><%= data.author%> <%= data.profile%> <%= data.created%></h2>
    <form action="/delete/<%= data.id%>" method="post">
      <button type="submit">❌</button>
    </form>
    <form action="/updatepost/<%= data.id%>" method="get">
      <button type="submit">수정</button>
    </form>
    <form action="/main" method="get"">
      <button>메인</button>
    </form>
    <p><%= data.content %></p>
  </body>
</html>
